{% extends 'base.html' %}
{% block title %}File Uploader{% endblock %}
{% block body %}

<div class="container-fluid">

    {% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
      <div class="alert alert-success" role="alert">
          {{ message }}<br>
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      <br>

    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>

        <br>
<br>
    <button type="button"  class="btn btn-primary btn-lg btn-block disabled">File Uploader</button>
<br>

<form method="post" action="{{ url_for('file_uploader') }}">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User Id" name="sellerId">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}