{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container-fluid">
      <br>

    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>

        <br>
<br>
    <button type="button"  class="btn btn-primary btn-lg btn-block disabled">Flipkart File Uploader</button>
<br>

<form method="post" action="/flipkart_upload1/{{ sellerid }}/ {{ channel }}" enctype="multipart/form-data">

  <div class="form-group">
      <label for="disabledSelect1">Select Store</label>
      <select id="disabledSelect1" class="form-control" name="channel">
          {% for store in stores %}
            <option class="dropdown-item" value={{store}}>{{store}}</option>
          {% endfor %}
      </select>
  </div>

    <div class="input-group mb-3">
  <div class="custom-file">
      <label class="custom-file-label" for="inputGroupFile03">Choose flipkart SALES TAX file (*.xlsx)</label>
      <input type="file" class="custom-file-input" id="inputGroupFile03" name="filpkartuploadfile" accept=".xlsx, .xls" placeholder="Choose flipkart SALES TAX file (*.xlsx)">

  </div>
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}