{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container-fluid">
    <br>
    <a href="/index"><button type="button"  class="btn btn-primary btn-lg btn-block">File Matching(Amazon/flipkart/PayTm)</button></a>
    <br>
    <a href="/file_uploader"><button type="button" href="" class="btn btn-primary btn-lg btn-block">File Uploader</button></a>
    <br>
    <a href="/snapdeal_download"><button type="button" href="" class="btn btn-primary btn-lg btn-block">Snapdeal Reports Download</button></a>
    <br>
    <a href="/shipping_variance"><button type="button" href="" class="btn btn-primary btn-lg btn-block">Shipping variance</button></a>
    <br>
    <a href="/charges_variance"><button type="button" href="" class="btn btn-primary btn-lg btn-block">Charges variance</button></a>
    <br>
    <a href="/data_sync"><button type="button" href="" class="btn btn-primary btn-lg btn-block disabled">Data Sync</button></a>    
</div>
{% endblock %}