<!DOCTYPE html>
<html>
<head>
    <style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


    </style>
</head>
<body>

<div class="gallery">
    <a target="_blank" href="#">
        <img src="https://etraky.s3.ap-south-1.amazonaws.com/B00XRZCYW2_pos.png" alt="Cinque Terre" width="600"
             height="400">
    </a>
    <div class="desc">Positive Sentiment</div>
</div>

<div class="gallery">
    <a target="_blank" href="#">
        <img src="https://etraky.s3.ap-south-1.amazonaws.com/B00XRZCYW2_neg.png" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Negative Sentiment</div>
</div>

<div class="gallery">
    <a target="_blank" href="#">
        <img src="https://etraky.s3.ap-south-1.amazonaws.com/B00XRZCYW2_neu.png" alt="Northern Lights" width="600"
             height="400">
    </a>
    <div class="desc">Neutral Sentiment</div>
</div>


</body>
</html>
